*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}
html{
    font-size: 86.02%;
}
.container-agendamento{
    width: 80%;
    display: flex;
    gap: 5%;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    /* background-color: yellow; */
    margin-top: 1%;

}
.alinhar{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.div-esquerdo{
    display: flex;
    flex-direction: column;
    gap: 35px;
    /* background-color: red; */
    width: 50%;
    margin-left: 10%;
    
}
.titulo-page{
    color: #38B6FF;
    font-weight: 600;
    margin-bottom: 5%;
    font-size: 3rem;
}


.form-select:focus{
    border-color: transparent !important;
    
}

.cbx{
    display: flex;
    z-index: 5;
    align-items: center;

    
}
.cbx img{
    padding-left: 10px;
}
.cbx i{
    padding-left: 18px;
}
.all-box{
    height: 500px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .form-select{
    width: 21%;
    height: 64px;
    outline: none;
    border-radius: 12px;
    border-color: transparent;
    background-color: #F3F3F3;
    padding-left: 45px;
    position: absolute;
    z-index: -6;


       width: 100%;
    height: 64px;
    outline: none;
    border-radius: 12px;
    border-color: transparent;
    background-color: #F3F3F3;
    padding-left: 45px;
} */
.input-preset{
    width: 24%;
    height: 64px;
    outline: none;
    border-radius: 12px;
    border-color: transparent;
    background-color: #F3F3F3;
    position: absolute;
    z-index: -6;
    padding-left: 45px;
}

::-webkit-calendar-picker-indicator{
    /* background-color: #ffffff; */
    margin-left: -33px;
    font-size: 24px;
    position: absolute;
    display: flex;
    justify-content: start;
    cursor: pointer;
    /* border-radius: 3px; */
}
.div-direito{
 margin-right: -15%;
 width: 50%;
}
.div-direito img{
    width: 105%;
}
.btn{
    width: 36%;
    height: 55px;
    border-color: transparent;
    background-color: #069ce2;
    outline: none;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    margin-top: 3%;
    transition: 500ms;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.btn:hover{
    transform: scale(1.03);
    background-color: #069ce2;
    color: white;

}
.alinhar-btn{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
}
@media (max-width:1000px) {
    .div-direito{
        width: 70%;
    }
}
@media (max-width:750px) {
    .div-direito{
        display: none;
        margin-left: 50%;
    }
    .div-esquerdo{
        width: 100%;
        /* background-color: red; */
    }
    .alinhar{
        width: 80%;
        margin-left: 10%;
    }
    .btn{
        margin-top: 20%;
        width: 100%;
    }
    .input-preset{
        width: 70%;
    }
    .titulo-page{
        /* text-align: center; */
        width: 120%;
        /* background-color: red; */
        margin-top: 15%;
    }
    .container-agendamento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}